_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
.env
private/_src/**/dist/
private/_src/**/node_modules/
private/_src/apps/aji/src/aji_fund_thesis_v34.pdf
